name: Rust CI

on:
  push:
    branches: [main]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  rust-base:
    uses: phylaxsystems/actions/.github/workflows/rust-base.yaml@main
    with:
      rust-channel: 'nightly'
      dind: true
      requires-private-deps: true
      secrets:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
  